{% extends 'layout.html' %}
{% load static %}
{% block css %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <img src="{% static '/img/healthy.png' %}">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="">
                <div class="card-body">
                    <h5 class="card-title">疾病预防和早期诊断</h5>
                    <p class="card-text">常见疾病的预防措施：提供预防感冒、流感等常见疾病的方法。
                        定期体检的重要性：解释定期体检如何帮助及早发现潜在的健康问题。
                        疾病早期症状的识别：列出一些常见疾病的早期警告信号，鼓励用户在出现症状时及时就医。
                        了解常见癌症的症状和预防措施
                        保持良好的心理状态,培养兴趣爱好,增强生活的乐趣</p>
                </div>
            </div>

            <div class="card" style="margin-top: 25px">
                <div class="card-body">
                    <h5 class="card-title">健康生活习惯的培养</h5>
                    <p class="card-text">
                        戒烟和限酒的好处：讨论吸烟和过量饮酒对健康的负面影响，并提供戒烟和控制饮酒的建议。
                        保持良好的个人卫生：强调洗手等个人卫生习惯对预防疾病传播的重要性。
                        环境保护与健康：讨论如何通过减少污染和保护环境来维护个人和公共健康。
                        保持积极乐观的心态,减少压力和焦虑。
                        保持均衡饮食,多吃新鲜蔬果、全谷物和豆类等富含营养的食物。
                    </p>
                </div>
            </div>
            
            <div class="card" style="margin-top: 25px">
                <div class="card-body">
                    <h5 class="card-title">定期体检和筛查</h5>
                    <p class="card-text">
                        定期进行体检,包括常规体检和癌症筛查检查
                        对于乳腺癌、宫颈癌、结肠癌等常见癌症,可根据年龄和性别定期进行筛查
                        及时发现并治疗可以大大提高治愈率
                    </p>
                </div>
            </div>

                       <div class="card" style="margin-top: 25px">
                            <div class="card-body">
                              <h5 class="card-title">睡眠健康</h5>
                                <p class="card-text">
                                    保持充足的睡眠时间，成年人每天需要7-9小时的睡眠。
                               养成良好的睡眠习惯，固定的睡眠时间和环境可以帮助提高睡眠质量。
                                  避免在睡前过度饮食、饮酒、吸烟、看电视或使用电子产品等刺激性活动。
                             </p>
                     </div>
                </div>

                       <div class="card" style="margin-top: 25px">
                            <div class="card-body">
                              <h5 class="card-title">心理健康</h5>
                             <p class="card-text">
                                建立积极乐观的心态，保持良好的情绪状态。
                                 学会有效的压力管理方法，如运动、音乐、阅读等。
                                保持社交和沟通，避免孤独和隔离。
                              </p>
                        </div>
                  </div>
        </div>
    </div>


{% endblock %}

{% block js %}


{% endblock %}