{% extends 'layout.html' %}
{% load static %}
{% block css %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <img src="{% static '/img/protect.png' %}">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">医智指南</h5>
                    <p class="card-text">
                        1. 用药时间与饮食搭配贴士 <br><br>
介绍不同类型药品的最佳服用时间（如饭前、饭后、睡前等）。
提供药品与食物搭配的建议，比如哪些药物需要避免与特定食物同服，哪些食物可以帮助提高药效。<br><br>
2. 药品存储与携带指南<br><br>
说明如何正确存储药品，包括温度、湿度、光照等环境因素对药品的影响。
提供关于如何妥善携带药品的建议，特别是在旅行或外出时的药品管理技巧。<br><br>

3. 药物相互作用与副作用预防<br><br>
介绍如何识别和避免可能的药物相互作用。
提供关于如何监测和管理药物副作用的实用建议，以及在出现副作用时应该如何处理。<br><br>

4. 健康生活方式与药物协同效应<br><br>
讨论健康饮食、适量运动、良好睡眠等生活方式如何与药物治疗协同作用，提高治疗效果。
提供关于如何通过改善生活习惯来减少对某些药物的依赖或提高药物疗效的贴士。
<br><br>

                    </p>

                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}


{% endblock %}